<p>Ejercicio 1</p>
<h2>Registro de Usuario</h2>

<div>
  <label for="nombre">Nombre:</label>
  <input
    type="text"
    name="nombre"
    id="nombre"
    [(ngModel)]="nombre"
    [ngModelOptions]="{ standalone: true }"
  />
  <p>Tu nombre es: {{ nombre }}</p>
</div>

<div>
  <label for="correo">Correo electrónico:</label>
  <input
    type="email"
    name="correo"
    id="correo"
    [(ngModel)]="correo"
    [ngModelOptions]="{ standalone: true }"
  />
  <p>Tu correo electrónico es: {{ correo }}</p>
</div>
